#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #8b8589;
	padding-left: 30px;
	padding-top: 20px;
	margin-left: 150px;
	display: inline-block;
}

body{
	margin: 0;
	padding: 0;
}

#header {
}
#sidebar-header {
	display: inline-block;
}


#logo{
	width: 50%;
	margin-left: -30px;
}

#reddit-text{
	position: relative;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	color: white;
	letter-spacing: 3px;
	font-weight: 700;
	float: right;
	top: -65px;

}
#sidebar-content{
	position: relative;
	top: -60px;
}

.category{
	font-family: 'Varela Round', sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	letter-spacing: 3px;
}

#container {
	background: #F0F0F0;
	width: 675px;
	height: 100%;
	margin-left: 380px;
	padding: 30px;

}