#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #8b8589;
	padding-left: 30px;
	padding-top: 20px;
	margin-left: 10%;
	display: inline-block;
}

body{
	margin: 0;
	padding: 0;
}

#header {
}
.category:hover {
	background: #FF5600;
	transition: background 1.5s ease;
	cursor: pointer;

}
#sidebar-header {
	display: inline-block;
}

#search {
	width: 165px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#logo{
	width: 50%;
	margin-left: -30px;
}

#reddit-text{
	position: relative;
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	color: #FF5600;
	letter-spacing: 3px;
	font-weight: 700;
	float: right;
	top: -65px;

}
#sidebar-content{
	position: relative;
	top: -60px;
	margin-bottom: 10px;
}

.registration {
	position: relative;
	font-family: 'Varela Round', sans-serif;
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 700;
	border-style: solid;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

.category{
	font-family: 'Varela Round', sans-serif;
	color: white;
	letter-spacing: 3px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 10px;
}

#container {
	background: #F0F0F0;
	height: 100%;
	margin-left: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 250px;
	padding-right: 10px;
	margin-right: 10%;
}

#topbar {

	background: #FF7D5C;
	
	padding-left: 50px;
	margin-right: -10px;
	margin-left: -20px;
	margin-top: -30px;

}

#topbar-text {
	color: black;
	padding: 0px 10px;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	display: inline-block;

	font-family: 'Varela Round', sans-serif;
	font-size: 10px;
	letter-spacing: 3px;
	font-weight: 700;
	border-style: solid;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
	border-radius: 10px;
	text-align: center;


}

#reddit-logo2{
	width: 500px;
	height: 150px;
	padding-left: 100px;
	margin-top: -20px;

}

#home-search{
	color:#FF5600;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 50px;
	float: right;
	padding-right: 200px;

}

#search-box{
	width: 550px;
	height: 50px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 150px;
	}

.list-container {
	padding-top: -50px;
	margin-right:100px;
	margin-left:100px;
	padding-bottom: 20px;

}

.list-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	font-weight: 100;
	padding-top:15px;
	margin-top: 10px;
}

.list-content {
	font-family: 'Varela Round', sans-serif;
	padding-top: -50px;
	padding-bottom: 20px;
	margin-right: 10px;
	margin-left:3px;
	margin-top: 5px;
	margin-bottom: 10px;	
}



.list-item {
	font-family: 'Varela Round', sans-serif;
	font-size: 30px;
	background-color: white;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 15px;


}

#minion1{
	width: 200px;
	height: 200px;
    float:left;
    padding-right: 20px;

}